.classBackground {
    -fx-background-color: #232323;
}

.classFooter {
    -fx-background-color: #505050;
    -fx-border-color: #505050;
    -fx-border-width: 5px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-style: solid;
}

.classDescriptionText {
    -fx-text-fill: white;
    -fx-font-family: Friz Quadrata TT;
    -fx-font-size: 20px;
}