.talentContainer {
    -fx-padding: 15px;
}

.talentButton {
    -fx-padding: 0px;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
}
.talentButton:disabled {
    -fx-padding: 0px;
    -fx-background-color: transparent;
    -fx-border-width: 0px;
    -fx-opacity: 100%;
}

.talentIcon {
    -fx-background-size: 100% 100% contain cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat no-repeat;
}

.activeBorder {
    -fx-padding: 3px;
    -fx-background-insets: 3px;
    -fx-border-insets: 3px;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: rgba(64, 191, 64, 192);
    -fx-border-radius: 7px;
    /*
     * wowhead border size: 36px square
     * wowhead icon size: 44px square
     */
}

.maxedOutBorder {
    -fx-padding: 3px;
    -fx-background-insets: 3px;
    -fx-border-insets: 3px;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: rgba(255, 209, 0, 192);
    -fx-border-radius: 7px;
}

.rankCounter {
    -fx-text-fill: rgb(255, 209, 255);
    -fx-font-family: Friz Quadrata TT;
    -fx-font-size: 16px;

    -fx-background-color: black;
    -fx-background-radius: 5px;

    -fx-padding: 0px 3px;
    -fx-border-width: 1px;
    -fx-border-color: rgb(255, 209, 255);
    -fx-border-radius: 5px;
}
.rankCounter:disabled {
    -fx-text-fill: gray;
    -fx-padding: 0px 3px;
    -fx-border-width: 1px;
    -fx-border-color: gray;
    -fx-border-radius: 5px;
    -fx-opacity: 100%;
}