$title-size: 24px;
$large-label-font-size: 20px;
$small-label-font-size: 16px;

$ui-font: 'Friz Quadrata TT';

$normal-text-color: white;
$description-text-color: rgb(255, 210, 0);
$error-text-color: red;
$confirmation-text-color: rgb(64, 191, 64);
$background-color: rgb(35, 35, 35);
$light-background-color: rgb(80, 80, 80);
$bg-accent-color: #101010;
$active-talent-border-color: $confirmation-text-color;
$maxed-talent-border-color: $description-text-color;

