$title-size: 24px;
$large-label-font-size: 20px;
$small-label-font-size: 16px;

$ui-font: 'Friz Quadrata TT';

$normal-text-color: white;
$description-text-color: rgb(255, 209, 0);
$error-text-color: red;
$confirmation-text-color: rgb(64, 191, 64);
$light-background-color: rgb(80, 80, 80);
$dark-background-color: rgb(35, 35, 35);
$active-talent-border-color: rgba(64, 191, 64, 192);
$maxed-talent-border-color: rgba(255, 209, 0, 192);

