@use "Constants";
@use "sass:color";

.talent-container {
    -fx-padding: 16px;
}

.talent-button {
    -fx-padding: 0px;
    -fx-border-color: transparent;
    -fx-border-width: 0px;

    &:disabled {
        @extend .talent-button;
        -fx-opacity: 100%;
    }
}

.talent-icon {
    -fx-background-size: 100% 100% contain cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat no-repeat;
}

@mixin border($border-color) {
    -fx-padding: 2.4px;
    -fx-background-insets: 2.4px;
    -fx-border-insets: 2.4px;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5.6px;
    -fx-border-color: $border-color;
}

.active-border {
    @include border(Constants.$active-talent-border-color);
}

.maxed-out-border {
    @include border(Constants.$maxed-talent-border-color);
}

.rank-counter {
    -fx-text-fill: Constants.$description-text-color;
    -fx-font-family: Constants.$ui-font;
    -fx-font-size: 14px;

    -fx-background-color: black;
    -fx-background-radius: 5px;

    -fx-padding: 0px 3px;
    -fx-border-width: 1px;
    -fx-border-color: Constants.$description-text-color;
    -fx-border-radius: 5px;

    &:disabled {
        -fx-text-fill: gray;
        -fx-padding:  0px 3px 0px 3px;
        -fx-border-width: 1px;
        -fx-border-color: gray;
        -fx-border-radius: 5px;
        -fx-opacity: 100%;
    }
}

